
/* Logo */
.pkp_site_name {

	.is_img img {
		
		max-height: none; 
		height: 100%;
		width: 100%;
	}
}

/* Navigation bar */
.has_site_logo .pkp_navigation_primary_wrapper {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 0px 15px;
}

/* Sidebar */
.pkp_structure_sidebar {
  padding: 5px 10px;
  border-left: 2px solid black;
}

.pkp_structure_sidebar .title {
  color: @text;
}

.pkp_block {
  padding: 10px 30px;

  .content ul li {
    line-height: 10px;
  }
}

/* Footer */
#pkp_content_footer {
  background: @bg;
}

#acknowledgments {
  overflow: hidden;
}

#footer_ublogo {
  max-height: 75px;
  width: auto;
  margin-top: 5px;
}

#hosted_by, #powered_by {
  float: left;
  padding: 0px 20px;
}

